<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Co_Cliente %><br>
    <%= f.text_field :Co_Cliente %>
  </div>
  <div class="field">
    <%= f.label :Nu_Dni %><br>
    <%= f.text_field :Nu_Dni %>
  </div>
  <div class="field">
    <%= f.label :No_Cliente %><br>
    <%= f.text_field :No_Cliente %>
  </div>
  <div class="field">
    <%= f.label :Ape_Paterno %><br>
    <%= f.text_field :Ape_Paterno %>
  </div>
  <div class="field">
    <%= f.label :Ape_Mateno %><br>
    <%= f.text_field :Ape_Mateno %>
  </div>
  <div class="field">
    <%= f.label :Fe_Ingreso %><br>
    <%= f.date_select :Fe_Ingreso %>
  </div>
  <div class="actions">
    <% if params[:action] == 'new'%>
      <%= f.submit "Agregar cliente" %>
    <% else %>
      <%= f.submit "Actualizar datos del cliente" %>
    <% end %>
  </div>
<% end %>
