<p id="notice"><%= notice %></p>

<h1>Listado de Clientes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido paterno</th>
      <th>Apellido mateno</th>
      <th>N° dni</th>
      <th>Fecha ingreso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.Co_Cliente %></td>
        <td><%= cliente.No_Cliente %></td>
        <td><%= cliente.Ape_Paterno %></td>
        <td><%= cliente.Ape_Mateno %></td>
        <td><%= cliente.Nu_Dni %></td>
        <td><%= cliente.Fe_Ingreso %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Cliente', new_cliente_path %> ! <a href="/clientes.pdf">Imprimir Clientes</a>
