<p id="notice"><%= notice %></p>

<p>
  <strong>Co cliente:</strong>
  <%= @cliente.Co_Cliente %>
</p>

<p>
  <strong>Nu dni:</strong>
  <%= @cliente.Nu_Dni %>
</p>

<p>
  <strong>No cliente:</strong>
  <%= @cliente.No_Cliente %>
</p>

<p>
  <strong>Ape paterno:</strong>
  <%= @cliente.Ape_Paterno %>
</p>

<p>
  <strong>Ape mateno:</strong>
  <%= @cliente.Ape_Mateno %>
</p>

<p>
  <strong>Fe ingreso:</strong>
  <%= @cliente.Fe_Ingreso %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
