<%= form_for(@detalle) do |f| %>
  <% if @detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle.errors.count, "error") %> prohibited this detalle from being saved:</h2>

      <ul>
      <% @detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cod_Detalle %><br>
    <%= f.text_field :Cod_Detalle %>
  </div>
  <div class="field">
    <%= f.label :Qt_Cantidad %><br>
    <%= f.number_field :Qt_Cantidad %>
  </div>
  <div class="field">
    <%= f.label :Sa_PrecioUniSol %><br>
    <%= f.text_field :Sa_PrecioUniSol %>
  </div>
  <div class="field">
    <%= f.label :Sa_ImporteSol %><br>
    <%= f.text_field :Sa_ImporteSol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
