<h2>Descripción de la Mesa N°<%= @mesa.Nu_Mesa %></h2>
<p id="notice"><%= notice %></p>

<fieldset>
<p>
  <strong>Código de mesa:</strong>
  <%= @mesa.Co_Mesa %>
</p>

<p>
  <strong>Cantidad de sillas:</strong>
  <%= @mesa.Qt_CantidadSillas %>
</p>

<p>
  <strong>Tipo de mesa:</strong>
  <%= @mesa.Tipo_Mesa %>
</p>
</fieldset>

<%= link_to 'Editar', edit_mesa_path(@mesa) %> |
<%= link_to 'Lista de mesas', mesas_path %>
