<%= form_for(@categorium) do |f| %>
  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

      <ul>
      <% @categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Co_Categoria %><br>
    <%= f.text_field :Co_Categoria %>
  </div>
  <div class="field">
    <%= f.label :No_Categoria %><br>
    <%= f.text_field :No_Categoria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
