<p id="notice"><%= notice %></p>

<p>
  <strong>Co categoria:</strong>
  <%= @categorium.Co_Categoria %>
</p>

<p>
  <strong>No categoria:</strong>
  <%= @categorium.No_Categoria %>
</p>

<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
