<h1>Reservas de Mesas</h1>
<button style="float:right" id="myBtn" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
    VISUALIZAR PANEL DE MESAS
</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Fe recepcion</th>
      <th>Hora recepcion</th>
      <th>Mesa</th>
      <th>Tipo recepcion</th>
      <th>Empleado</th>
      <th>Tx detalle</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!<% @recepcions.each do |recepcion| %>
      <tr>
        <td><%= recepcion.cliente.No_Cliente %> <%= recepcion.cliente.Ape_Paterno %> <%= recepcion.cliente.Ape_Mateno %></td>
        <td><%= recepcion.fe_recepcion %></td>
        <td><%= recepcion.hora_recepcion %></td>
        <td><%= recepcion.mesa.Co_Mesa %></td>
        <td><%= recepcion.tipo_recepcion %></td>
        <td><%= getNameEmpleado(recepcion.empleado_id) %></td>
        <td><%= recepcion.tx_detalle %></td>
        <td><%= link_to 'Cancelar', recepcion, method: :delete, data: { confirm: '¿ Confirma que desee cancelar reserva ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Reservar Mesa', new_recepcion_path %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Panel de Mesas</h4>
        </div>
        <div class="modal-body">
          <% @mesas.each do |mesa| %>
            <button data-dismiss="modal" class="mesas<%= mesa.free %>" disabled ><%= mesa.Nu_Mesa %></button>
          <% end %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
