<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(@detalle, remote: remote, :url =>{ :action => :saveDetails}, html: {role: :form, 'data-model'=> 'detalles'}) do |f| %>
  <% if @detalle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle.errors.count, "error") %> prohibited this detalle from being saved:</h2>
      <ul>
      <% @detalle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Producto, class: 'control-label' %> Agregar nombre del producto(tarea)<br>
  </div>

  <div class="form-group">
    <%= f.label :Cantidad_del_producto, class: 'control-label' %><br>
    <%= f.number_field :Qt_Cantidad, class: 'form-control' %>
  </div>

  <%# Added Bootstrap classes %>
  <div class="actions">
    <%= f.submit 'Agregar un detalle al pedido', class: 'btn btn-danger' %>
  </div>

<% end %>