<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Co_Pedido %><br>
    <%= f.text_field :Co_Pedido %>
  </div>
  <div class="field">
    <%= f.label :Sa_Subtotal %><br>
    <%= f.text_field :Sa_Subtotal %>
  </div>
  <div class="field">
    <%= f.label :Sa_Igv %><br>
    <%= f.text_field :Sa_Igv %>
  </div>
  <div class="field">
    <%= f.label :Sa_Neto %><br>
    <%= f.text_field :Sa_Neto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
