<tr>
	<td><%= detalles.producto_id %></td>
	<td><%= detalles.Qt_Cantidad %></td>
	<td><%= link_to 'Quitar del pedido', detalles %></td>
	<!--<td><%= link_to 'Edit', edit_detalle_path(detalles) %></td>
	<td><%= link_to 'Destroy', detalles, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
</tr>		