<div class="row">

	<div class="col-md-6">
		<table class="table table-hover table-bordered">
		<thead>
			<th>LISTA DE CATEGORIA</th>
		</thead>
		<tbody>
		<% @categoria.each do |categorium| %>
			<tr>
		        <td><%= link_to categorium.No_Categoria, ajaxorden_path(:id => categorium.id), :remote => true %></td>
	        </tr>
		<% end %>
		</tbody>
		</table>
	</div>

	<div class="col-md-6">
		<div id="resultAjaxListProductos">
			<span class="text-danger">Elige una categoría del lado izquierdo</span>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover" id="table-details">
		  <thead>
		    <tr>
		      <th>PRODUCTO</th><th>Cantidad</th><th colspan="3">Operaciones</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @detalles.each do |detail| %>
		      <%= render partial: 'table_row', locals: {detalles: detail} %>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>
<%= javascript_include_tag 'orders/doit' %>

<div class="modal fade" id="new_detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Agrega productos al pedido</h4>
      </div>
      <div class="modal-body">
      	<%= render 'detail_order', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar modal</button>
      </div>
    </div>
  </div>
</div>