<p id="notice"><%= notice %></p>

<h1>Lista de Ordenes</h1>

<div style="border-style: double;padding:15px">
  <% @mesas.each do |mesa| %>
      <button onclick="location.href='orders/doit/<%= mesa.id %>'" class="mesas<%= mesa.free %>"><%= mesa.id %></button>
  <% end %>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nº Pedido</th>
      <th>Mesa</th>
      <th>SubTotal</th>
      <th>IGV</th>
      <th>Importe Neto</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.mesa_id %></td>
        <td><%= order.Sa_Subtotal %></td>
        <td><%= order.Sa_Igv %></td>
        <td><%= order.Sa_Neto %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>