<p id="notice"><%= notice %></p>

<p>
  <strong>Co pedido:</strong>
  <%= @order.Co_Pedido %>
</p>

<p>
  <strong>Sa subtotal:</strong>
  <%= @order.Sa_Subtotal %>
</p>

<p>
  <strong>Sa igv:</strong>
  <%= @order.Sa_Igv %>
</p>

<p>
  <strong>Sa neto:</strong>
  <%= @order.Sa_Neto %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
