<p id="notice"><%= notice %></p>

<%= form_tag empleados_path, :method => :get do |f| %>
  BUSQUEDA POR N° DNI: <%= text_field_tag "dni", params[:dni] %>
  <%= submit_tag "Buscar", :Nu_Dni => nil, class: "btn btn-danger" %>
<% end %>
<h1>Lista de empleados</h1>

<table class="table table-hover">
  <thead >
    <tr>
      <th>Número de DNI</th>
      <th>Nombre de empleado</th>
      <th>Dirección</th>
      <th>Departamento</th>      
      <th>Email</th>
      <th>Edad</th>
      <th>Telefono</th>
      <th>Sexo</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.Nu_Dni %></td>
        <td><%= empleado.No_Empleado %></td>
        <td><%= empleado.Tx_Direccion %></td>
        <td><%= empleado.Co_Departamento %></td>
        <td><%= empleado.Tx_Email %></td>
        <td><%= edad_empleado(empleado.id) %></td>
        <td><%= empleado.Tx_telefono %></td>
        <td><%= empleado.Fl_Sexo %></td>
        <td><%= link_to 'Mostrar más', empleado %></td>
        <td><%= link_to 'Editar', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Destruir', empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Empleado', new_empleado_path %>

