  <div class="divlogin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),) do |f| %>
    <h2 class="form-signin-heading text-center loginh2">PÍO APP<img src="/assets/logo-pio.jpg" alt="INICIAR SESION" class="pull-right" height = "60%"></h2>
    <p>Te ayudamos en la administración de tu pollería</p><br><br>
    <div class="field">
      <%= f.label "Ingresa tu correo:" %><br />
      <%= f.email_field :email, autofocus: true, :placeholder => 'Ingresa tu email', :class =>'form-control', :required => 'required' %>
    </div>

    <div class="field">
      <%= f.label "Ingresa tu contraseña:" %><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Ingresa tu contraseña', :required => 'required' %>
    </div>
    
    <% if devise_mapping.rememberable? -%>
      <div >
        <%= f.check_box :remember_me %>
        <%= f.label "Recuerda tu contraseña" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "INICIA SESIÓN", :class =>'btn btn-lg btn-danger btn-block' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
  </div>