<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none">
    <%= f.label :'Código de producto' %><br>
    <%= f.text_field :Co_Producto %>
  </div>
  <div class="field">
    <%= f.label :'Nombre de producto' %><br>
    <%= f.text_field :No_Producto %>
  </div>
  <div class="field">
    <%= f.label :'Categoría del producto' %><br>
    <%= f.collection_select(:categoria_id, Categorium.all, :id, :No_Categoria, :prompt => 'SELECCIONE CATEGORIA') %>
  </div>
  <div class="field">
    <%= f.label :'Costo de producto' %><br>
    <%= f.text_field :Qt_CostoProducto %>
  </div>
  <div class="field">
    <%= f.label :'Cantidad de producto' %><br>
    <%= f.number_field :Nu_CantidadProducto %>
  </div>
  <div class="field">
    <%= f.label :'Fecha de movimiento de producto' %><br>
    <%= f.date_select :Fe_MovimientoProducto %>
  </div>
  <div class="field">
    <%= f.label :'Fecha de vencimiento de producto' %><br>
    <%= f.date_select :Fe_VencimientoProducto %>
  </div>
  <div class="actions">
    <% if params[:action] == 'new'%>
    <%= f.submit "Crear producto" %>
    <% else %>
    <%= f.submit "Actualizar producto" %>
    <% end %>
  </div>
<% end %>
