<p id="notice"><%= notice %></p>

<p>
  <strong>Código de producto:</strong>
  <%= @producto.Co_Producto %>
</p>

<p>
  <strong>Nombre de producto:</strong>
  <%= @producto.No_Producto %>
</p>

<p>
  <strong>Costo de producto:</strong>
  <%= @producto.Qt_CostoProducto %>
</p>

<p>
  <strong>Cantidad de producto:</strong>
  <%= @producto.Nu_CantidadProducto %>
</p>

<p>
  <strong>Fecha de movimiento de producto:</strong>
  <%= @producto.Fe_MovimientoProducto %>
</p>

<p>
  <strong>Fecha de vencimiento de producto:</strong>
  <%= @producto.Fe_VencimientoProducto %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Regresar', productos_path %>
