// Place all the styles related to the recepcion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mesas0 {
        width:70px;
        height:70px;
        background-color: #04B431;
        color : white;}
.mesas1 {
        width:70px;
        height:70px;
        background-color: red;
        cursor: inherit;}
.modal{
	margin: 0 auto;
	width: 650px;}
.modal-content{
	margin:5px;}