/*
Errno::ENOENT: No such file or directory - style.scss

Backtrace:
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:339:in `read'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin/compiler.rb:235:in `watch'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/plugin.rb:107:in `method_missing'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:444:in `watch_or_update'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:307:in `process_result'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:41:in `parse'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/lib/sass/exec.rb:21:in `parse!'
C:/Ruby192/lib/ruby/gems/1.9.1/gems/sass-3.2.4/bin/sass:8:in `<top (required)>'
C:/Ruby192/bin/sass:19:in `load'
C:/Ruby192/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: ""; }
