<p id="notice"><%= notice %></p>

<p>
  <strong>Cod detalle:</strong>
  <%= @detail.Cod_Detalle %>
</p>

<p>
  <strong>Qt cantidad:</strong>
  <%= @detail.Qt_Cantidad %>
</p>

<p>
  <strong>Sa preciounisol:</strong>
  <%= @detail.Sa_PrecioUniSol %>
</p>

<p>
  <strong>Sa importesol:</strong>
  <%= @detail.Sa_ImporteSol %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
